.widgetLg{
    flex: 2;
    margin-left: 2rem;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0,0.75);
    background-color: var(--boxColor);
    color: var(--textColor);
    border-radius: 10px;

}
.tableLg{
    width: 100%;

}
.widgetTitleLg{
    margin-bottom: 15px;

}
.tableRow{

}
.tableHead{
    text-align: start;

}
.tableData{
    padding: 1.5rem 0;

}
.customerImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
.tableCustomer{
    display: flex;
    align-items: center;
}
.customerName{
    font-weight: 700;
    margin-left: 0.5rem;

}
.tableinfo{
    color: var(--spanColor);

}
.tableStatus{
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.tableStatusApproved{
    background-color: #afe4a6;
    color: #0d4d02;
    
}
.tableStatusPending{
    background-color: #b8eced;
    color: #012331;
    
}
.tableStatusDeclined{
    background-color: #efc6cc;
    color: #460101;

}



@media screen and (max-width: 768px){
    .widgetLg{
        margin-left: 0;
        margin-top: 1.5rem;

    }

}