.footer{
    display: flex;
    margin-top: 3rem;
    /* justify-content: center; */
    align-items: center;
    height: 250px;
    background-color: var(--boxColor);
}
.footerContainer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 80%;
    height: 100%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);


}