*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* black = #201E20 
  white = #fff
*/

:root{
  --primaryColor:#fff;
  --textColor:#201E20;
}

.container {
  display: flex;
  /* margin-top: 3.5rem; */
}

body{
  font-family: 'Space Grotesk', sans-serif;
}