.navbar{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background-color: inherit;
    padding: 0.5rem;
    z-index: 999;
    background-color: var(--boxColor);
    color: var(--textColor);
    
}
.navContainer{
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navLogo{
    font-size: 2rem;
    font-weight:600;
    cursor: pointer;

}
.navItems{
    display: flex;
    align-items: center;

}
.navIconsContainer{
    margin-right: .5rem;
    display: flex;
    align-items: center;

}
.navIcon{
    margin-right: 0.5rem;
    position: relative;
    cursor: pointer;

}

.navBadge{
    font-size: 15px;
    position: absolute;
    color: white;
    width: 15px;
    height: 15px;
    top: -5px;
    padding: 8px;
    right: 0;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.navAvatarContainer{
    width: 40px;
    height: 40px;
}
.navAvatar{
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.navColapce{
    box-shadow: 0 0 15px -10px rgba(0, 0, 0,0.75);
    border-radius: 10px;
    position: absolute;
    width: 200px;
    height: auto;
    right: 50%;
    cursor: default;
    /* padding: 10px; */
    color: var(--btnColor);
    background-color: var(--textColor);
    display: none;
}
.navColapceItems{
    list-style: none;
    font-size: 1.2rem;
    
}
.navColapceItem{
    text-decoration: none;
    color: var(--btnColor);
    display: block;
    padding: 8px;
    transition: all ease-out 0.3s;
    /* padding: 10px; */
    /* border-bottom: 2px solid ; */

}

.navColapceItem:hover{
    background-color: var(--btnColor);
    color: var(--textColor);
}
.active{
    display: block;
}

.deactive{
    display: none;
}

.menu{
    display: none;
}


.navMenu{
    display: none;
    background-color: #0808085c;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;


}
.activeMenu{
    display: block;
}
.navMenuItems{
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    background-color:#757575;
    width: 50%;
    height: 100%;
    list-style: none;   
    animation: MenuAnimation 0.5s ease;
}
@keyframes MenuAnimation{
    from{
        width: 0%;
    }
    to{
        width: 50%;
    }
    
}
.MenuItemContainer{
    padding: 40px;
    font-size: bold;
}
.navMenuItem{
    display: block;
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 700;
    font-size: 1.5rem;
    
}
.closeMenuBtn{
    margin: 10px;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .menu{
        display: block;
        margin-left: 1rem;
    }
    
}